.gists {
    margin: 50px;
    text-align: left;
}

.gists__avatar {
    width: 100px;
    height:100px;
    border-radius: 50%;
}

.gists__user {
    margin-bottom: 30px;
    border-bottom: 2px dashed #333;
}